<!DOCTYPE html>
<html>
<head>
  <title>洽客商家平台</title>
  <link rel="stylesheet" href="//res.qiakr.com/plugins/admin/qk.common.min.css">
<meta charset="UTF-8">
<link rel="shortcut icon" href="//qncdn.qiakr.com/favicon.ico" />
<meta http-equiv="X-UA-Compatible" content="chrome=1;IE=edge" />
<meta name="renderer" content="webkit" />
<link rel="dns-prefetch" href="//qncdn.qiakr.com/" />
<script>
// html标签添加webp的class，localStorage与cookie中写入支持webp的信息，提供window.supportWebp(fn(support))接口
(function(b,a,d){var c=b.navigator.userAgent;b.supportWebp=function(f){if(!b.localStorage){f(false)}f=f||function(){};if(localStorage.getItem("support-webp")==="1"){a.documentElement.classList.add("webp");return f(true)}var e=new Image();e.onerror=function(){localStorage.setItem("support-webp","0");f(false)};e.onload=function(){if(e.width==1){a.documentElement.classList.add("webp");localStorage.setItem("support-webp","1");a.cookie="support-webp=1; max-age=31536000; domain=";f(true)}else{localStorage.setItem("support-webp","0");f(false)}};e.src="data:image/webp;base64,UklGRiwAAABXRUJQVlA4ICAAAAAUAgCdASoBAAEAL/3+/3+CAB/AAAFzrNsAAP5QAAAAAA=="};b.supportWebp()})(window,document);
</script>
<link href="//qncdn.qiakr.com/static/css/modules/order.6767b455c1150fff7334ec90c996c3b1.css?c94e762fa678a1b2d661" rel="stylesheet"></head>
<body class="menubar-hoverable header-fixed menubar-pin">
  <div id="app"></div>
<script type="text/javascript" src="//qncdn.qiakr.com/static/js/jquery.58bbf21423ed951ae8e6.js?c94e762fa678a1b2d661"></script><script type="text/javascript" src="//qncdn.qiakr.com/static/js/bootstrap.ded6e7571a14197a59f5.js?c94e762fa678a1b2d661"></script><script type="text/javascript" src="//qncdn.qiakr.com/static/js/modules/order.29a9f5b0b0191b879072.js?c94e762fa678a1b2d661"></script></body>
</html>
