<!DOCTYPE html>
<html>
<head>
  <title>登录成功</title>
<meta charset="UTF-8">
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="format-detection" content="telephone=no"/>
<meta name="format-detection" content="email=no"/>
<meta name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
<link href="//cdn.qiakr.com/static/css/modules/user.d41d8cd98f00b204e9800998ecf8427e.css?1b21fd96c09bc4fdba2e" rel="stylesheet"></head>
<body>
<user></user>
介个是用户主页
<!-- built files will be auto injected -->
<script type="text/javascript" src="//cdn.qiakr.com/static/js/jquery.0908ab08dce31f0a4571.js?1b21fd96c09bc4fdba2e"></script><script type="text/javascript" src="//cdn.qiakr.com/static/js/modules/user.67a48c8a708c9394a292.js?1b21fd96c09bc4fdba2e"></script></body>
</html>
